.controller-container {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  width: 200px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

.controller-option {
  color: #1a1a1a;
  margin-bottom: 1em;
}

.option-extrude-checkbox {
  margin-left: 1em;
}
